/* Recursividade teste */
    .topo-site img{
        width: 208px;
        height: 57px;
    }

    .o-globo, .valor, .cartola, .globoplay, .dropz, .quem, .receitas{
        display: none;
    }

    .tech, .videos{
        display: flex;
    }

    .noticia-principal h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .conteudo-site{
        width: 100%;
        flex-direction: column;
    }

    .linha-vertical{
        display: none;
    }

    .parlamentares, .negocios{
        display: block;
    }

    .noticias-g1, .noticias-ge, .noticias-gshow{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .noticias-g1 img, .noticias-ge img, .noticias-gshow img{
        width: 120px;
        height: 67px;
    }
    .noticia-principal h1{
        display: flex;
        flex-wrap: wrap;
    }

    .parlamentares, .negocios, .noticias-ge, .noticias-gshow{
        width: 100vw;
    }

    .negocios .vendas{
        margin-left: 0;
        margin-right: 0;
    }

    .negocios{
        margin-left: 10px;
        margin-right: 10px;
    }

    .alem-do-presidente, .crimes-fronteira, .reino-unido {
        width: 100vw;
    }

    .crimes-fronteira {
        margin-left: 0;
        margin-right: 0;
    }

    .parlamentares{
        margin-left: 10px;
        margin-right: 10px;
    }

    .noticias-ge, .noticias-gshow{
        margin-left: 0;
        margin-right: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .noticia-principal{
        width: 100vw;
        height: 260px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .noticia-principal .linha-horizontal{
        display: none;
    }

    .alem-do-presidente, .crimes-fronteira, .reino-unido{
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .alem-do-presidente div, .crimes-fronteira div, .reino-unido div{
        padding-left: 10px;
    }

    .negocios{
        margin-top: 0;
    }

    .vendas, .caminhoneiros{
        margin-top: 16px;
    }

    .noticias-ge, .noticias-gshow{
        width: 100vw;
        margin-top: 24px;
    }

    .cruzeiro, .desfiles, .imperador{
        margin: 0 0;
    }

    .espiao, .cruzeiro, .psg, .ferias, .desfiles{
        width: 100vw;
        height: 100px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .espiao div, .cruzeiro div, .psg div, .ferias div, .desfiles div, .imperador div{
        padding-left: 10px;
    }

    .desfiles{
        height: 128px;
    }

    .imperador{
        width: 100vw;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .angel{
        margin-left: -10px;
    }