/* Recursividade teste */
@media (max-width: 600px){
    .topo-site img{
        width: 208px;
        height: 57px;
    }
    .o-globo, .valor, .cartola, .globoplay, .dropz, .quem, .receitas{
        display: none;
    }
    .tech, .videos{
        display: flex;
    }
    .noticia-principal h1 {
        font-size: 36px;
        line-height: 42px;
    }
    .conteudo-site{
        width: 100%;
        flex-direction: column;
    }
    .linha-vertical{
        display: none;
    }
    .parlamentares, .negocios{
        display: block;
    }
    .noticias-g1, .noticias-ge, .noticias-gshow{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .noticias-g1 img, .noticias-ge img, .noticias-gshow img{
        width: 120px;
        height: 67px;
    }
    .noticia-principal h1{
        display: flex;
        flex-wrap: wrap;
    }
}